<link rel="apple-touch-icon" sizes="76x76" href="https://vrajeshtrichy.github.io/website/images/favicons/coder.webp">
<link rel="icon" type="image/png" sizes="32x32" href="https://vrajeshtrichy.github.io/website/images/favicons/coder.webp">
<link rel="icon" type="image/png" sizes="16x16" href="https://vrajeshtrichy.github.io/website/images/favicons/coder.webp">
<link rel="manifest" href="https://vrajeshtrichy.github.io/website/site.webmanifest">
<link rel="mask-icon" href="https://vrajeshtrichy.github.io/website/images/favicons/coder.webp" color="#5bbad5">
<link rel="shortcut icon" href="https://vrajeshtrichy.github.io/website/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="browserconfig.xml">
<meta name="theme-color" content="#ffffff">
