<link rel="apple-touch-icon" sizes="76x76" href="http://127.0.0.1:4000/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="http://127.0.0.1:4000/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="http://127.0.0.1:4000/images/favicons/favicon-16x16.png">
<link rel="manifest" href="http://127.0.0.1:4000/site.webmanifest">
<link rel="mask-icon" href="http://127.0.0.1:4000/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="http://127.0.0.1:4000/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="browserconfig.xml">
<meta name="theme-color" content="#ffffff">
