<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  
  <div class="wrapper">
  
    <div class="footer-col-wrapper">
  
      <div class="footer-col">
        <p><center>Data Science, ML, AI and Portfolio. All opinions are my own.</center></p>
      </div>
  
      <div class="footer-col">
        <p style="text-align:center;">&#169; 2024 Rajesh Kanna V</p>
      </div>
  
    </div>
  
    <div class="social-links">
      <ul class="social-media-list">
        {%- for entry in site.minima.social_links -%}
          {%- include social-item.html item = entry -%}
        {%- endfor -%}
      </ul>
    </div>
  
  </div>
  
  </footer>
  
  
  <!-- <footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer> -->
